building-errors.log
exe/
simulations/
references/xall/
references/untrack/
run/
src/tests/backup
src/tests/euler_cpu
*.xdmf 
*.h5
doc/html/
.DS_Store
*-energy_error.dat
*-residuals.dat
*-restart-proc000000.fbd
*-restart-proc000000.h5
*-restart.time
*-restart.tnd
*-restart.xdmf
gmon.out
untracked/
docs/node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/
